<h2>Add New User</h2>

<form [formGroup]="userForm" (ngSubmit)="onSubmit()">
  <mat-form-field appearance="fill">
    <mat-label>User Name</mat-label>
    <input matInput formControlName="user_name" placeholder="Enter user name">
    <mat-error *ngIf="userForm.get('user_name')?.hasError('required')">Name is required</mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Email</mat-label>
    <input matInput formControlName="email" placeholder="Enter email">
    <mat-error *ngIf="userForm.get('email')?.hasError('required')">Email is required</mat-error>
    <mat-error *ngIf="userForm.get('email')?.hasError('email')">Please enter a valid email</mat-error>
  </mat-form-field>

  <button mat-raised-button color="primary" type="submit" [disabled]="!userForm.valid">Add User</button>
</form>
