<!-- <button (click)="showAddUser = false">Show User List</button>
<button (click)="showAddUser = true">Add User</button>
<button *ngIf="userIdToUpdate !== null" (click)="showUpdateUser = true">Update User</button>

<app-user-list *ngIf="!showAddUser && !showUpdateUser"></app-user-list>
<app-add-user *ngIf="showAddUser"></app-add-user>
<app-update-user *ngIf="showUpdateUser && userIdToUpdate !== null"></app-update-user> -->
<nav>
    <button routerLink="/user-list">Show User List</button>
    <button routerLink="/add-user">Add User</button>
    <!-- The Edit button should take the user to the update page with the correct user ID -->
  </nav>
  <app-user-list *ngIf="!showAddUser && !showUpdateUser" (editUser)="onEdit($event)"></app-user-list>

  <router-outlet></router-outlet>